:root {
  --main-bg-color: #2385c4;
  --second-bg-color: #212121;
}

@font-face {
  font-family: "Poppins Bold";
  src: url("../fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Poppins Thin";
  src: url("../fonts/Poppins-Thin.ttf");
}

#formIMG {
  position: relative;
  padding: 0;
  margin: 0;
}

#books {
  position: absolute;
  bottom: -2rem;
  left: -5em;
  padding: 0;
  margin: 0;
}

#books img {
  max-height: 16vh;
}

#contactBodyContainer {
  min-height: 100vh;
  min-width: 100vw;
  padding: 0;
  margin: 0;

  background-color: var(--main-bg-color);
  color: #fff;
}

@font-face {
  font-family: "Poppins Thin";
  src: url("../fonts/Poppins-Regular.ttf");
}
#contactCol {
  position: relative;
}

#contactFormContainer {
  min-height: 52vh;
  background-color: var(--second-bg-color);
  border-radius: 10px;
  margin-right: 0px;
  font-family: "Poppins Thin";
  color: #fff5ea;
  top: 25%;
  left: 75%;
  position: absolute;
  padding-right: 17%;
}

#sendButton {
  background-color: #000;
  font-size: 1rem;
}

#inputFieldBackground {
  background-color: var(--main-bg-color);
}
