:root {
    --main-bg-color: #2385c4;
    --second-bg-color: #212121;
  }
  
  @font-face {
    font-family: "Poppins Bold";
    src: url("../fonts/Poppins-Bold.ttf");
  }
  
  @font-face {
    font-family: "Poppins Thin";
    src: url("../fonts/Poppins-Thin.ttf");
  }
  
.imagelarge img {
    height: auto;
}

#imglarge {
    position: absolute;
    bottom: -2rem;
    left: 1em;
    padding: 0;
    margin: 0;
}