:root {
    --main-bg-color: #2385C4;
}

@font-face {
    font-family: "Poppins Black";
    src: url('../fonts/Poppins-Black.ttf');

    font-family: "Poppins Black Italic";
    src: url('../fonts/Poppins-BlackItalic.ttf');

    font-family: "Poppins Bold";
    src: url('../fonts/Poppins-Bold.ttf');

    font-family: "Poppins Bold Italic";
    src: url('../fonts/Poppins-BoldItalic.ttf');

    font-family: "Poppins Extra Bold";
    src: url('../fonts/Poppins-ExtraBold.ttf');

    font-family: "Poppins Extra Bold Italic";
    src: url('../fonts/Poppins-ExtraBoldItalic.ttf');

    font-family: "Poppins Extra Light";
    src: url('../fonts/Poppins-ExtraLight.ttf');

    font-family: "Poppins Extra Light Italic";
    src: url('../fonts/Poppins-ExtraLightItalic.ttf');

    font-family: "Poppins Italic";
    src: url('../fonts/Poppins-Italic.ttf');

    font-family: "Poppins Light";
    src: url('../fonts/Poppins-Light.ttf');

    font-family: "Poppins Light Italic";
    src: url('../fonts/Poppins-LightItalic.ttf');

    font-family: "Poppins Medium";
    src: url('../fonts/Poppins-Medium.ttf');

    font-family: "Poppins Medium Italic";
    src: url('../fonts/Poppins-MediumItalic.ttf');

    font-family: "Poppins Regular";
    src: url('../fonts/Poppins-Regular.ttf');

    font-family: "Poppins Semi Bold";
    src: url('../fonts/Poppins-SemiBold.ttf');

    font-family: "Poppins Semi Bold Italic";
    src: url('../fonts/Poppins-SemiBoldItalic.ttf');

    font-family: "Poppins Thin";
    src: url('../fonts/Poppins-Thin.ttf');

    font-family: "Poppins Thin Italic";
    src: url('../fonts/Poppins-ThinItalic.ttf');
}

#loginBodyContainer {
    min-height: 100vh;
    min-width: 100vw;
    padding: 0;
    margin: 0;

    background-color: var(--main-bg-color);
    font-family: "Poppins Black";
    color: #fff;
}


#formIMG{
    position: relative;
    padding: 0;
    margin: 0;
}

#books {
    position: absolute;
    bottom: -6rem;
    right: -4.5em;
    padding:0;
    margin:0;
    
}

#books img {
    max-height: 16vh;
}

#womanheart img, #womandesk img{
    max-height: 80%;
    max-width: 80%;

}


#registerBodyContainer {
    min-height: 100vh;
    min-width: 100vw;
    padding: 0;
    margin: 0;

    background-color: var(--main-bg-color);
    color: #fff;
}



@font-face {
    font-family: "Poppins Thin";
    src: url('../fonts/Poppins-Regular.ttf');

}

#loginFormContainer {
    min-height: 45vh;
    background-color: var(--second-bg-color);
    border-radius: 10px;
    font-family: "Poppins Thin";

    color: #FFF5EA;
}

#loginButton {
    background-color: #000;
    font-size: 1rem;
    min-width: 40%;
}

#inputFieldBackground {
    background-color: var(--main-bg-color);
}